html {
	background-image: url("../assets/twitter.png"), url("../assets/bg.jpg");
	background-repeat: no-repeat, repeat;
	background-position: 50% 50%, top left;
}
body {
	background-color: transparent;
	font-family: sans-serif;
	padding-bottom: 25px;
}

h1 {
	margin: 20px auto 40px auto;
	font-size: 35px;
	width: 400px;
	text-align: center;
}

.app {
	margin: 0 auto;
}
.form {
	width: 100%;
	text-align: center;
}
input {
	border: 2px solid rgba(51, 153, 255, 0.5);
	border-radius: 15px;
	background-color: white;
	padding: 5px 10px;
}
.player {
	margin: 25px 25px 25px 45px;
}

.title {
	width: 70%;
	margin: 30px 0 10px 5%;
	display: inline-block;
	vertical-align: top;
	color: #fff;
	font-size: 24px;
	line-height: 26px;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
}

.sp-player {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	width: 20%;
}

.sp-list {
	margin-top: 20px;
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
	border: 2px groove #111;
}
.sp-list > div {
	background-color: transparent;
	background-image: none;
}
.sp-list a:nth-child(odd) {
	background-color: rgba(80,80,80,.2);
}
.sp-list a:nth-child(even) {
	background-color: rgba(0,0,0,.2);
}

.cf:before,
.cf:after {
    content: " "; /* Space avoids Opera bug */
    display: table; /* Using table rather than block because of :before and to contain top-margins of child-elements */
}

.cf:after {
    clear: both;
}
