body {
	font-family: sans-serif;
	padding-bottom: 25px;
}

h1 {
	margin: 20px auto 40px auto;
	font-size: 35px;
	width: 400px;
	text-align: center;
}

.app {
	margin: 0 auto;
}
.form {
	width: 100%;
	text-align: center;
}
input {
	border: 2px solid rgba(51, 153, 255, 0.5);
	border-radius: 15px;
	background-color: white;
	padding: 5px 10px;
}
.player {
	margin: 25px 25px 25px 45px;
}

.title {
	margin: 30px auto 10px;
	font-size: 24px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
}

.sp-player {
	margin-top: 20px;
}

.sp-list {
	margin-top: 20px;
}

.cf:before,
.cf:after {
    content: " "; /* Space avoids Opera bug */
    display: table; /* Using table rather than block because of :before and to contain top-margins of child-elements */
}

.cf:after {
    clear: both;
}
